<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- Autor : Cristopher Angulo 
       Fecha Creación 27/12/2019
       Notas: Set-up App.config con Datos en Duro y Encriptados
  -->
  
  <appSettings>
    <!-- Ruta de Acceso al CRM Macal QA -->
    <add key="USUARIO_CRM" value ="lvnO9pSA5tWbHV7H2y82ogqFiEX7lm6G"/>
    <add key="CONTRASEÑA_CRM" value="ZwD/y9Dy8fzwC6yli4zdjA=="/>
    <add key="URL_CRM" value="vshaeC0lUtCU/yL9vot+GDN0jJQMbbXx3MVFDpXPgthlcQ=="/>
    <add key="CONNECTION_CRM" value="Url={0}; Username={1};Password={2};AuthType=Office365;RequireNewInstance=True;"/>
    <!-- Cierre de Acceso al CRM Macal QA -->

    <!-- ========== Ruta del Log  =============================== -->
    <add key="PathLogServicio" value="C:\Users\cangulo\source\repos\WSIntegracion_Macal\WSIntegracion_Macal"/>
    <!-- ========== Cierre de la Ruta del Log =================== -->

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>